@charset "UTF-8";
.quienes {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin-left: 10px; }

.orientación {
  font-family: 'Exo 2', sans-serif;
  font-size: 50px;
  margin-left: 300px;
  color: black; }

.enccarr {
  font-family: 'Anton', sans-serif;
  font-size: 45px;
  text-align: center; }

.Noticias {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin-left: 10px; }

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgba(77, 92, 224, 0.993);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.MISION {
  margin-left: 50px;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  flex-direction: column; }

.VISION {
  margin-left: 50px;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  flex-direction: column; }

.VALORES {
  margin-left: 50px;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  flex-direction: column; }

p {
  font-size: 20px;
  margin-left: 30px;
  margin-right: 20px;
  text-align: justify;
  margin-left: 150px; }

.p1 {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: justify;
  margin-left: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.orientparr p {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: justify;
  margin-left: 20px; }

.descarga {
  margin-left: 200px;
  width: 400px; }

.psicologa {
  margin-left: 200px;
  width: 400px; }

.somos {
  margin-left: 5px;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 31px;
  color: black;
  text-align: center; }

img {
  width: 120px;
  margin-left: 30px;
  margin: 10px 10px 1px;
  animation: 1s entradalogo 1; }

@keyframes entradalogo {
  0% {
    transform: translateY(-200px); } }

.header {
  height: 80px;
  width: 100%; }

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #3b5998;
  border-radius: 0 0 20px 20px; }

.navegador {
  font-size: 15px;
  margin: 45px 4px 3px;
  line-height: 20px; }

.link {
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 10px;
  font-size: 19px;
  margin-top: auto; }
  .link:hover {
    background-color: black;
    transition: 0.5s; }

.menu {
  display: flex;
  margin-right: 10px;
  list-style: none; }

.p1 {
  margin: 40px; }

.hemos {
  font-size: 20px;
  margin-left: 10px;
  font-family: 'Montserrat Alternates', sans-serif; }

form {
  margin-left: 0px; }

.flex-container {
  display: flex; }

.flex-item {
  background-color: rgba(77, 92, 224, 0.993); }

.img1 {
  margin-left: 140px;
  width: 200px; }

.img2 {
  margin-left: 60px;
  width: 200px; }

.img3 {
  margin-left: 80px;
  width: 190px;
  margin-right: 140px; }

.p4 {
  font-size: 15px;
  text-align: center;
  color: white;
  margin-left: 20px;
  margin-right: 100px;
  font-family: 'Baloo Bhai 2', cursive; }

.p5 {
  font-size: 15px;
  text-align: center;
  color: white;
  margin-left: 2px;
  margin-right: 100px;
  font-family: 'Baloo Bhai 2', cursive; }

.p6 {
  font-size: 15px;
  text-align: center;
  color: white;
  margin-left: 5px;
  margin-right: 30px;
  font-family: 'Baloo Bhai 2', cursive; }

.grid-container {
  display: grid;
  grid-template-rows: 250px 250px 250px 250px;
  grid-template-columns: 250px 250px 250px 250px;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly; }

.grid-item {
  padding: 80px;
  border: 2px solid black; }

footer {
  max-width: 100%;
  padding: 30px;
  background: black;
  margin: 0 auto;
  border: 0 0 20px 20px;
  color: white;
  text-align: center; }

#noticias .bloquenot {
  display: flex;
  width: 100%;
  text-align: center; }
  #noticias .bloquenot .bloqueizq {
    width: 58%;
    margin-left: 40px;
    padding: 2%; }
  #noticias .bloquenot .bloqueder {
    width: 40%;
    background: #a7a4a4;
    margin-right: 40px; }

#noticias h1 {
  font-family: 'Encode Sans', sans-serif;
  font-size: 40px;
  text-align: justify; }

.parrafonoti {
  font-family: 'Encode Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-left: 0px;
  color: #1d1d1d; }

#noticias figure {
  margin: 0;
  position: relative; }
  #noticias figure img {
    width: 95%; }

#noticias h2 {
  font-family: 'Encode Sans', sans-serif;
  font-size: 20px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px; }

.parrafonoti2 {
  font-family: 'Encode Sans', sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-left: 0;
  color: #1d1d1d;
  margin-left: 5px; }

.parrafocont {
  margin-left: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em; }

.odonto {
  width: 280px;
  height: 250px; }

.carrera1 {
  position: relative; }

.od {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.nutri {
  width: 280px;
  height: 250px; }

.carrera2 {
  position: relative; }

.nu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.ing {
  width: 280px;
  height: 250px; }

.carrera3 {
  position: relative; }

.inggg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.medii {
  width: 280px;
  height: 250px; }

.carrera4 {
  position: relative; }

.medd {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.psi {
  width: 280px;
  height: 250px; }

.carrera5 {
  position: relative;
  padding-top: 50px; }

.ps {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.edfi {
  width: 280px;
  height: 250px; }

.carrera6 {
  position: relative;
  padding-top: 50px; }

.edf {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.turi {
  width: 280px;
  height: 250px; }

.carrera7 {
  position: relative;
  padding-top: 50px; }

.tur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.mktt {
  width: 280px;
  height: 250px; }

.carrera8 {
  position: relative;
  padding-top: 50px; }

.mar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.gg {
  width: 280px;
  height: 250px; }

.carrera9 {
  position: relative;
  padding-top: 100px; }

.geo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.ll {
  width: 280px;
  height: 250px; }

.carrera10 {
  position: relative;
  padding-top: 100px; }

.log {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.pp {
  width: 280px;
  height: 250px; }

.carrera11 {
  position: relative;
  padding-top: 100px; }

.per {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

.dd {
  width: 280px;
  height: 250px; }

.carrera12 {
  position: relative;
  padding-top: 100px; }

.dg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Oswald', sans-serif; }

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column; }
  .flex-container {
    flex-direction: column; }
  .somos {
    flex-direction: column;
    margin-top: 300px; }
  .flex-item {
    align-content: center;
    align-items: center;
    margin-left: 50px; }
  .img1 {
    margin-left: 140px; }
  .img2 {
    margin-left: 140px; }
  .img3 {
    margin-left: 140px; }
  .orientación {
    margin-top: 280px;
    margin-left: 5px;
    align-items: center; }
  .enccarr {
    margin-top: 300px; }
  .grid-container {
    flex-direction: column; }
  .bloqueizq {
    margin-top: 250px;
    margin-left: 500px; }
  .bloqueder {
    padding: 20%;
    margin-left: 50px;
    margin-right: 50px;
    align-content: center; }
  .bloquenot {
    flex-direction: column;
    align-items: center; }
  .footer {
    padding: 100%; }
  .parrafocont {
    margin-top: 300px; } }
